body.no-scroll {
  overflow: hidden;
}

.PencilInfo-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.PencilInfo-content {
  background: #fff;
  box-shadow: var(--shadow);
  border-radius: 1rem;
  margin: 2rem auto;
  overflow: hidden;
}

@media (orientation: landscape) {
  .PencilInfo-content {
    max-width: 80vh;
  }
}

@media (orientation: portrait) {
  .PencilInfo-content {
    max-width: 80vw;
  }
}
