.PencilInfo-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  animation: pencil-backdrop-fade-in 0.2s ease-in;
  cursor: zoom-out;
  padding: 5vmin;
}

@keyframes pencil-backdrop-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.PencilInfo-content {
  background: #fff;
  box-shadow: var(--shadow);
  border-radius: 1rem;
  margin: auto;
  overflow-y: scroll;
  animation: pencil-content-roll-out 0.2s ease-in;
  will-change: transform;
  cursor: initial;
  width: 90vmin;
  height: 90vmin;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes pencil-content-roll-out {
  from {
    transform: scale(0.98) translateY(10px);
  }
  to {
    transform: scale(1) translateY(0);
  }
}
