.Filter {
  display: flex;
  align-items: center;
}

.Filter-control {
  flex: 0 1 auto;
  margin-right: 1rem;
}

.Filter-Globe {
  padding-right: 0.6rem;
}

.Filter-label {
  font-size: 24px;
  cursor: pointer;
  display: block;
}

.Filter-select {
  font-size: 24px;
  width: 100%;
}

.Filter-span {
  white-space: nowrap;
}

@media screen and (max-width: 900px) {
  .Filter {
    flex-direction: column;
    align-items: flex-start;
  }
  .Filter-control {
    white-space: normal;
    flex: 1 1 auto;
    width: 100%;
  }
  .Filter-Globe {
    padding: 0;
    display: block;
  }
  .Filter-label {
    text-align: center;
    width: 100%;
  }
}
