.Siblings {
  display: inline-flex;
  user-select: none;
}

.Siblings-sibling {
  position: relative;
  flex: 1;
  opacity: 0.5;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  background-color: #fff;
  margin: 0 0.2rem;
}

.Siblings-sibling:first-child {
  border-radius: 50% 0 0 50%;
}
.Siblings-sibling:last-child {
  border-radius: 0 50% 50% 0;
}

.Siblings-active {
  opacity: 1;
}

.Siblings-sibling img {
  max-width: 100%;
}
