.Map {
  background: rgba(47, 156, 208, 0.12);
  box-shadow: inset 0 0 50px rgba(0, 64, 105, 0.1);
}

.Map-block {
  display: block;
  margin: 0 auto;
}

.Map .rsm-svg {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 50vh;
}

@media screen and (max-width: 900px) {
}
