.Info {
  height: 100%;
  --bg-color: #f1f1f1;
  --bg-color-transparent: rgb(241 241 241 / 0%);

  display: flex;
}

.Info-thumbs {
  flex: 0 0 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Info-scroller {
  flex: 1;
  height: 100%;
  scroll-snap-type: both mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
/* 
@media (orientation: landscape) {
  .PencilInfo-content {
    outline: 1px solid red;
  }
} */

@media (orientation: portrait) {
  .Info {
    flex-direction: column-reverse;
  }
  .Info-thumbs {
    flex-direction: row;
  }
}

.Info h1 {
  font-size: larger;
}

.Info-country {
  position: absolute;
  display: block;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 2;
  cursor: help;

  background-color: transparent;
  font-size: xx-large;
  border-radius: 1rem;
  border: none;
  margin: 0;
  padding: 0;
  width: 3rem;
  height: 3rem;
  line-height: 1;
  transition: transform 0.1s ease-in;
}
.Info-country:hover {
  transform: scale(1.1);
}
.Info-country:focus {
  outline: none;
}

.Info-frame {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  scroll-snap-align: center;
  z-index: 1;
}

.Info-photo {
  width: 100%;
  cursor: zoom-out;
}

.Info-content {
  background-color: var(--bg-color);
  padding: 1rem;
  color: #242424;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 4;
}

.Info-main {
  flex: 1;
  overflow-y: auto;
  position: relative;
}

.Info-main::before,
.Info-main::after {
  content: '';
  height: 1rem;
  display: block;
  position: sticky;
  left: 0;
  right: 0;
}
.Info-main::before {
  top: 0;
  background-image: linear-gradient(var(--bg-color), var(--bg-color-transparent));
}
.Info-main::after {
  bottom: 0;
  background-image: linear-gradient(var(--bg-color-transparent), var(--bg-color));
}

.Info-main p:first-of-type {
  margin-top: 0;
}

.Info-content article {
  line-height: 1.4;
}

.Info-tags {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: auto;
}
.Info-tag {
  margin-left: 0.5rem;
  text-transform: lowercase;
  display: inline-block;
}

.Info-thumb {
  flex: 0 1 10vmin;
  height: 10vmin;
  width: 10vmin;
  display: block;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;

  opacity: 0.3;
  transition: all 0.1s ease-in;

  background-size: cover;
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.Info-thumb-highlight {
  opacity: 1;
  background-size: 150%;
}

.Info-thumb-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
