.Info-frame {
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.Info-photo {
  position: absolute;
  display: block;
  width: 100%;
  cursor: zoom-out;
}

.Info-content {
  padding: 1rem;
  background: #f1f1f1;
  color: #242424;
}

.Info-content article {
  line-height: 1.4;
}
